.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.lds-dual-ring {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #007BFF;
    border-color: #007BFF transparent #007BFF transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h6.pointer {
    cursor: pointer;
}

h6.pointer:hover {
    color: #007BFF;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line-title {
    width: 100%;
    height: 0.25rem;
    background-color: #007BFF;
    border-radius: 1rem;
    border-color: #007BFF !important;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #007BFF;
    border-radius: 1rem;
    border-color: #007BFF !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #007BFF;
    opacity: 1;
    float: right;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
}

.portfolio-modal .close:hover {
    color: #DC3545;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-content .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-content {
    padding: 1rem 1rem;
    border-bottom: 0 solid #dee2e6;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.portfolio-modal .portfolio-modal-title {
    font-style: bold;
}

.divider-custom .divider-custom-icon {
    font-size: 2rem;
    color: #007BFF;
}

.avatar {
    width: 360px;
    height: 600px;
}

.modal-body {
    width: 100%;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

#imdb {
    color: #F5C518;
}

.fa-twitter {
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-envelope-o {
    color: white;
}

.form-control {
    width: 100px;
}